.component {
  background-color: #fff;
  box-shadow: 2px 2px 7px -3px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 1rem 1.2rem;
}

.data-box {
  display: flex;
  justify-content: space-around;
}

$theme-color: rgb(127, 99, 244);